<div class="c-12 leftButton {{dislikeClass}}">
  <div {{action "dislike" tile}} class="prodDislike"></div>
</div>
<div class="c-12 rightButton {{likeClass}}">
  <div {{action "like" tile}} class="prodLike"></div>
</div>
<div class="clear"></div>
