// COLORS

$color_corporate: #ffb700;
$color_price: #c41800;
$color_bg_gray: #f0f0f0;
$color_white: #fff;
$color_blue_dark: #003761;
$color_blue_light: #1C69AF;
$color_blue_subtitle: #a5c9ea;
$color_font: #646464;
$color_font_bright: #a2a2a2;
$color_borders: #cccccc;

// FONTS
$font_family: HelveticaNeue, Helvetica, Arial, sans-serif;
$font_family_light: helveticaneue-light, HelveticaNeue, Helvetica, Arial, sans-serif;
$font_family_android: Roboto, HelveticaNeue, Helvetica, Arial, sans-serif;
$font_size_L: 20px;
$font_size_M: 14px;
$font_size_S: 12px;
$font_size_XS: 10px;