<div class="front">
  {{#link-to 'offer' tile.id class="offerSingle"}}
    <div class="pricebox">
      <div class="prNew">0,<sup>77</sup></div>
      <div class="prOld">-99%</div>
    </div>
    <div class="prodImg"><span><img src="{{tile.image}}" /></span></div>
    <p class="prodTitle">{{tile.title}}</p>
    <p class="prodShop">{{tile.shop_name}}</p>
  {{/link-to}}
  {{rating-buttons tile=tile like="sendLikeSignalForOffer" dislike="sendDislikeSignalForOffer"}}
  <a class="shareButton"><span class="shareLabel">Angebot teilen</span></a>
</div>
