<div id="radar">
  <div class="offersWr">
    {{#each model as |tile|}}
      <div id="tile-4" class="offerTile {{tile.css_class}}">
        <div class="front">
          <a class="offerSingle" href="/offer.html#/id=107899">
            <div class="pricebox">
              <div class="prNew">0,<sup>77</sup></div>
              <div class="prOld">-99%</div>
            </div>
            <div class="prodImg"><span><img src="http://static.barcoo.com/80177609-1-thumb.jpg" /></span></div>
            <p class="prodTitle">Kinder Schokolade</p>
            <p class="prodShop">Netto Marken-Discount</p>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{outlet}}
