<div class="detailInfos">
  <div id="detailImg">
    <div class="pricebox">
      <div class="prNew">0,<sup>77</sup></div>
      <div class="prOld">95,<sup>00</sup></div>
    </div>
    <img src="http://static.barcoo.com/80177609-1-thumb.jpg">
  </div>
  <div class="detailTitle">Kinder Schokolade</div>
  <div class="detailTxt">100 g</div>
  <div class="c-24 detailDataWr">
    <div class="c-8">
      <div class="detailLabel">Gültig:</div>
      <div class="detailData">Noch <span class="medium">3 Tage</span></div>
    </div>
    <div class="c-8">
      <div class="detailLabel">Geschäft:</div>
      <div class="detailData">Netto Marken-Discount</div>
    </div>
    <div class="c-8">
      <div class="detailLabel">Rabatt</div>
      <div class="detailData">99%</div>
    </div>
    <div class="clear"></div>
  </div>
</div>
