<div id="radar">
  <div class="offersWr">
    {{#each model as |tile|}}
      <div class="{{tile.css_class}}">
        {{#if tile.template}}
          {{partial tile.template}}
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
